/Cipher.xcodeproj/project.xcworkspace/xcuserdata/Jordan.xcuserdatad/UserInterfaceState.xcuserstate
/.DS_Store
/Cipher.xcodeproj/project.xcworkspace/xcuserdata/jkay010.xcuserdatad/UserInterfaceState.xcuserstate
